version: '3.8'

services:
  neo4j:
    image: neo4j:5.16.0
    container_name: neo4j-agent
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      - NEO4J_AUTH=neo4j/MahdiToumi
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_server_memory_heap_initial__size=512m
      - NEO4J_server_memory_heap_max__size=1G
      - NEO4J_server_http_enabled=true
      - NEO4J_server_http_listen__address=:7474
      - NEO4J_server_bolt_enabled=true
      - NEO4J_server_bolt_listen__address=:7687
    volumes:
      - ./data:/data
      - ./logs:/logs
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  neo4j_data:
  neo4j_logs:
